<% include ../partials/header %>

<h2>Current user is: <%= currentUser.username %></h2>
<a href="<%= currentUser.username %>/profile">Your Profile</a>

<div id = "projectsAndGitsprints" style="padding-bottom: 100px;">
    <% projects.forEach((proj) => { %>
        <ul style="border:1px solid red">
                <a href="/project/<%= proj._id %>">
                    <li>Title: <%= proj.title %></li>
                    <li>Author: <%= proj.author.username %></li>
                    <li>Description: <%= proj.description %></li>
                    <li>Milestone: <%= proj.firstMilestone %></li>
                    <li>Completion estimate: <%= proj.completionDate %></li>
                    <li>Languages: <%= proj.languages %></li>
                    <% if (proj.frameworks != "") { %>
                        <li>Frameworks: <%= proj.frameworks %></li>
                    <% } else { %>
                        <li>Frameworks: None</li>
                    <% } %>
                </a>
            </ul>
    <% }) %>
    <hr>
    <% gitsprints.forEach((gs) => { %>
        <a href="/gitsprint/<%= gs._id %>">
            <ul style="border:1px solid red">
                <li>Team: <%= gs.teamMembers %></li>
                <li>Projects: <%= gs.projects %></li>

            </ul>
        </a>
        <br>
    <% }) %>
</div>

<% include ../partials/footer %>