<% include ../partials/header %>

    <h1>
        Project: <%= proj.title %>
    </h1>
    <p>
        <%= proj %>
    </p>
    <hr>
    <p><strong>Add a comment:</strong></p>
    <form action="/project/<%= proj._id %>/comment" method="POST">
        <textarea rows="3" cols="100" placeholder="..." name="comment[text]"></textarea>
        <br><button>Submit</button>
    </form>

    <% proj.comments.forEach(function(comment) { %>
        <p><%= comment.author.username %> - <%= comment.text %></p>
    <% }) %>
<% include ../partials/footer %>